* {
  box-sizing: border-box;
}

.locked .lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px; /* Tamanho ajustado do ícone */
  height: 24px; /* Tamanho ajustado do ícone */
  transform: translate(-50%, -50%); /* Centraliza o ícone no meio da imagem */
  opacity: 0.7;
  pointer-events: none; /* Evita que o ícone interfira no clique */
}

.locked img {
  filter: grayscale(100%); /* Torna a imagem em tons de cinza */
  opacity: 0.5; /* Reduz a opacidade da imagem */
}

.locked {
  position: relative;
  pointer-events: none; /* Desabilita o clique */
}

.locked:hover .lock-icon {
  opacity: 1; /* Aumenta a visibilidade do cadeado ao passar o mouse */
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 48px;
  flex: 1; /* Faz o container crescer para ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Faz com que a altura ocupe 100% da altura da tela */
  text-align: center; /* Alinha o texto ao centro */
  margin-bottom: 50px;
}

.container .title {
  padding: 0px;
  height: 0;
}

.nivel .sub-title {
  font-weight: 400;
}

section.nivel {
  width: 100%; /* Ajuste a largura conforme necessário */
  max-width: 200; /* Limite máximo de largura para não ficar muito grande */
}

div.gallery {
  position: relative; /* Necessário para posicionar o título sobre a imagem */
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 20px; /* Espaço entre a galeria e a descrição */
  border-radius: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.gallery .title-overlay {
  position: absolute;
  top: 135px; /* Posiciona o título no canto inferior */
  left: 10px; /* Posiciona o título à esquerda */
  padding: 5px 10px; /* Adiciona um pouco de espaçamento ao redor do texto */
  background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

div.desc {
  padding: 10px;
  text-align: center;
}

.questions {
  position: absolute;
  top: 10px;
  background-color: #464646e0;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.questions:hover {
  background-color: #383838e0;
  cursor: pointer;
  transform: scale(1.05);
}

.questions .icon {
  width: 20px;
  height: 20px;
}
.questions h2 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.responsive {
  padding: 0 6px;
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
